
<div class="containerMainViews">

  Consulta l'estat de la teva cua:
  <form class="example-form" [formGroup]="formGroup" style="margin: 10px 0; width: 100%">
    <mat-form-field class="inputElement"
    >
      <mat-label>Codi tarjeta</mat-label>
      <input matInput formControlName="cardid">
    </mat-form-field>

  </form>
  <button mat-flat-button (click)="buscaLaMevaCua()">Busca</button>
  <div *ngIf="trobat">
    t'has apuntat a: {{laMevaCua.queueof.id}}
  </div>
  <div *ngIf="loading !== 0">
    Buscant...
  </div>


</div>
