
<div class="containerMainViews">

  Consulta l'estat de la teva cua:
  <form class="example-form" [formGroup]="formGroup" style="margin: 10px 0; width: 100%">
    <mat-form-field class="inputElement"
                    appearance="outline"
    >
      <mat-label>Codi tarjeta</mat-label>
      <input matInput formControlName="cardid" >
    </mat-form-field>

  </form>
  <button mat-flat-button (click)="buscaLaMevaCua()">Busca</button>
  <div *ngIf="trobat">
    <app-small-view-client
    [client]="elMeuClient"
    [queue]="laMevaCua">
    </app-small-view-client>
  </div>
  <div *ngIf="loading !== 0">
    Buscant...
  </div>
  <div *ngIf="loading === 0 && (!trobat) && tarja">
    No estàs apuntat a cap cua
  </div>


</div>
